In [4]:
import numpy as np
import pandas as pd
import re

In [5]:
file_path = r'C:\Users\Hwang\Downloads\예술의전당.csv'

In [6]:
price_data = pd.read_csv(file_path)
# price_data.info()

In [15]:
# 콘서트홀만 출력
concert_data = price_data[price_data['place'] == '콘서트홀'] 
# concert_data.info()

In [18]:
concert_data['floor'] = np.where(concert_data['seat'].str.contains('1층'),'1층',
                              np.where(concert_data['seat'].str.contains('2층'),'2층',
                                       np.where(concert_data['seat'].str.contains('3층'),'3층','합창석')))
block = ['BOX1','BOX2','BOX3','BOX4','BOX5','BOX6','BOX7','BOX8','BOX9','BOX10','BOX11','BOX12','A','B','C','D','E','F','G','M','N',]
list_condition = []
list_str = []
for i in block:
    list_condition.append(concert_data['seat'].str.contains(i))  ## 조건문 리스트에 저장
    list_str.append(i)                                        ## 조건에 맞게 반환할 값 저장
concert_data['block'] = np.select(list_condition, list_str)

C:\Users\Hwang\AppData\Local\Temp\ipykernel_2260\1220535858.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  concert_data['floor'] = np.where(concert_data['seat'].str.contains('1층'),'1층',
C:\Users\Hwang\AppData\Local\Temp\ipykernel_2260\1220535858.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  concert_data['block'] = np.select(list_condition, list_str)

In [19]:
necessary = concert_data[['age', 'gender', 'price', 'ticket_cancel',
                          'discount_type','performance_code',
                          'genre', 'member_yn', 'floor', 'block']]

In [20]:
necessary = necessary[necessary['ticket_cancel'] == 0]
necessary = necessary.drop(['ticket_cancel', 'member_yn'], axis = 1)
necessary.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 864120 entries, 4 to 1920864
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   age               289698 non-null  float64
 1   gender            290011 non-null  object
 2   price             864120 non-null  int64
 3   discount_type     864120 non-null  object
 4   performance_code  864120 non-null  int64
 5   genre             843988 non-null  object
 6   floor             864120 non-null  object
 7   block             864120 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 59.3+ MB

In [21]:
necessary.isnull().sum()

age                 574422
gender              574109
price                    0
discount_type            0
performance_code         0
genre                20132
floor                    0
block                    0
dtype: int64

In [22]:
notnull = necessary.dropna()
notnull.isnull().sum()
notnull.info()

age                 0
gender              0
price               0
discount_type       0
performance_code    0
genre               0
floor               0
block               0
dtype: int64

In [24]:
notnull = notnull[notnull['price'] != 0]
notnull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 282865 entries, 4 to 1920864
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   age               282865 non-null  float64
 1   gender            282865 non-null  object
 2   price             282865 non-null  int64
 3   discount_type     282865 non-null  object
 4   performance_code  282865 non-null  int64
 5   genre             282865 non-null  object
 6   floor             282865 non-null  object
 7   block             282865 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 19.4+ MB

In [25]:
notnull.loc[notnull['discount_type'] == '일반', 'discount_type'] = '0%'

In [27]:
notnull = notnull[notnull['discount_type'].str.contains('%')]
temp = notnull[notnull['discount_type'].str.contains('%')]['discount_type']

percentage = [re.sub(r'[^0-9]', '', x.split('%')[0][-3:]) for x in list(temp)]
percentage

notnull['percentage'] = percentage
notnull.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274452 entries, 4 to 1920864
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   age               274452 non-null  float64
 1   gender            274452 non-null  object
 2   price             274452 non-null  int64
 3   discount_type     274452 non-null  object
 4   performance_code  274452 non-null  int64
 5   genre             274452 non-null  object
 6   floor             274452 non-null  object
 7   block             274452 non-null  object
 8   percentage        274452 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 20.9+ MB